/* Define common color schemes for header and footer */
header,
footer {
    background-color: #006fbb;
    color: white;
}

/* Set font for header */
header {
    font-family: Helvetica, sans-serif;
}

/* Place image on the left of the header */
#logo-img {
    float: left;
    padding-right: 1em;
    display: absolute;
}

/* Define image size */
#logo-img img {
    width: 10.99em;
}

/* Set slightly larger default sex size for the document's text*/
body {
    font-size: 1.15em;
    background-color: #e3e3e3;
}

/* Set title size as large*/
h1 {
    font-size: 4em;
}

/* Set sub-title as 1/2 of the title's size */
h2 {
    font-size: 2em;
}

/* This tag is used to enumerate through cartegories, so we underline it */
h3 {
    font-size: 1.4em;
    text-decoration: underline;
}

/* ======= FOOTER ======= */

/* Set footer image size and place it in the centre */
#footer-img img {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

/* Create vertical space between contact details and image */
#footer-details {
    margin-top: 2em;
}

/* 
 * Horizontally center all the footer details, 
 * where each div is an individual detail.
 */
#footer-details div {
    display: block;
    text-align: center;
}

/*  
 * Create vertical space between address and contact details,
 * spread contact details along the footer 
 */
#footer-address {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}

/* Set size for address icons */
#footer-address img {
    height: 2em;
}

/*  
 * Define a textbox, an area where a specific piece of text is placed, 
 * usually alongside a title and an image.
 * Place the textbox in a differently colored container, with appropriate
 * space around it and some shadow.
 */
.textbox {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    margin: 2em;
    padding: 1.5em;
    border-radius: 1em;
    box-shadow: 0em 0em 0.2em 0.4em rgba(0, 37, 138, 0.05);
}

/*
 * The standard images acompanying text and category boxes.
 * We don't want to explicitly set both width and height because
 * we don't want to ruin its aspect ratio.
 */
.textbox img, .category img{
    width: 18em;
}

/*
 * Define a text-intro, a paragraph that starts a distinct semantic area.
 * We want the first letter of every text intro to be visually distinct.
 */
.text-intro::first-letter {
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

/* Mark defintions with bold and italics */
dfn {
    font-weight: bold;
}

/* Change color while waiting for the text box to pop up */
dfn:hover {
    color: darkcyan;
    text-decoration: underline;
}

/* Basic border configuration for the technical details table */
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 0.1em solid black;
}

/* Make the tables striped */
tr:nth-child(even) {
    background-color: lightgray;
}

/*
 * A category is any item on a list of categories such as the product
 * categories and the products themselves.
 */
.category {
    background-color: white;
    border-style: outset;
    border-width: 0.4em;
    padding-left: 2%;
    padding-right: 2%;
    margin: 1em;
    box-shadow: 0em 0em 0.2em 0.2em rgba(0, 37, 138, 0.05);
}

/* 
 * The description of the category. 
 * Slightly upscaled and with a different font to differentiate it 
 * from other, general text in the document.
 */
.category p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em
}

/* The h3 tag in a category denotes the title of that category. */
.category h3 {
    font-size: 1.6em;
}

/* 
 * The h5 tag in a category denotes specific product information
 * such as code, price etc.
 * We want it to be of a large size and default style.
 */
.category h5 {
    font-size: 1.5em;
}

/* 
 * The var tag in a denotes a value for a key-value pair
 * used in a h5 tag.
 * A unique color is given to differentiate it from the h5 tag.
 */
.category var {
    color: green;
}

/* Navbar container */
#navbar {
    overflow: hidden;
    background-color: #00258a;
    font-family: Arial;
    display:flex;
    justify-content: space-around; 
    align-items: stretch;
    /*transition: background-color 0.5s ease;*/
}

/* Links inside the dropdown */
#navbar .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Links inside the navbar */
#navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex-grow: 1;
}

/* The dropdown container */
.dropdown {
    float: left;
    align-items: stretch;
    overflow: hidden;
    flex-grow: 1;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
#navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #1042c9;
}

/* Dropdown content (hidden by default) */
#navbar .dropdown-content {
    border: top 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Add a grey background color to dropdown links on hover */
#navbar .dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
#navbar .dropdown:hover .dropdown-content {
    display: block;
}