header,
footer {
    background-color: #006fbb;
    color: white;
}

header,
h1 {
    font-family: Helvetica, sans-serif;
}

.logo-img {
    float: left;
    padding-right: 1em;
}

/* Set slightly larger default sex size for the document's text*/
body {
    font-size: 1.15em;
    background-color: #e3e3e3;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.4em;
    text-decoration: underline;
}

/* Mark defintions with bold and italics*/
dfn {
    font-weight: bold;
}

/* Change color while waiting for the text box to pop up*/
dfn:hover {
    color: darkcyan;
    text-decoration: underline;
}

/* Basic border configuration for the technical details table*/
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 0.1em solid black;
}

/* Make the tables striped */
tr:nth-child(even) {
    background-color: lightgray;
}


/*
 * A category is any item on a list of categories such as the product
 * categories and the products themselves.
 */
.category {
    background-color: lightskyblue;
    border-style: outset;
    border-width: 0.4em;
    padding-left: 2%;
    padding-right: 2%
}

/*
 * The image accompanying each category.
 * We don't want to explicitly set width and height because
 * we don't want to ruin its aspect ratio.
 */
.category img {
    max-width: 25em;
    max-height: 30em;
}

/* 
 * The description of the category. 
 * Slightly upscaled and with a different font to differentiate it 
 * from other, general text in the document.
 */
.category p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em
}

/* The h3 tag in a category denotes the title of that category. */
.category h3 {
    font-size: 1.6em;
}

/* 
 * The h5 tag in a category denotes specific product information
 * such as code, price etc.
 * We want it to be of a large size and default style.
 */
.category h5 {
    font-size: 1.5em;
}

/* 
 * The var tag in a denotes a value for a key-value pair
 * used in a h5 tag.
 * A unique color is given to differentiate it from the h5 tag.
 */
.category var {
    color: green;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #00258a;
    font-family: Arial;
    display:flex;
    justify-content: space-around; 
    align-items: center;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    border: top 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}